<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.decoy.tapdance"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />

	<application android:label="Tapdance Client" android:debuggable="true">
        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:label="tapdance"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="org.decoy.tapdance.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
